@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
}

body{
    background-color:#f2f2f2;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

a{
    color: #333333;
}

/* --------------------------------------TEMPLATE------------------------------------------ */
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fecc00;
    padding: 10px;
    width: 100vw;
    height: 105px;
    box-shadow:
    0.6px 0.6px 0.8px rgba(0, 0, 0, 0.006),
    1.3px 1.3px 2px rgba(0, 0, 0, 0.008),
    2.5px 2.5px 3.8px rgba(0, 0, 0, 0.01),
    4.5px 4.5px 6.7px rgba(0, 0, 0, 0.012),
    8.4px 8.4px 12.5px rgba(0, 0, 0, 0.014),
    20px 20px 30px rgba(0, 0, 0, 0.02)
    ;
    z-index: 2;
}

nav h1{
    position: relative;
    width: 100%;
    margin-left: calc(23%);
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: 800;
    color: #262626;
}

.searchbar{
    position: absolute;
    top: 10px;
    left: 700px;
}

.searchbar input{
    width: 362px;
    height: 34px;
    padding: 10px 14px;
    border: none;
    outline: none;
}

.searchbar .fa-magnifying-glass{
    background-color: white;
    vertical-align: middle;
    height:34px;
    width: 34px;
    padding: 12px 10px;
    font-size: .8rem;
    transform: translateY(-1px);
}

.searchbar .fa-magnifying-glass:hover{
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}

.searchbar #suggestions{
    position: absolute;
    display: none;
    flex-wrap: wrap;
    top: 34px;
    left: 0px;
    width: 396px;
    height: fit-content;
    max-height: 485px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.808);
    backdrop-filter: blur(5px);
}

.searchbar #suggestions li{
    position: relative;
    width: 100%;
    text-align: start;
    display: none;
    flex-wrap: wrap;
    border-bottom: solid 1px #808080;
}

.searchbar #suggestions li a{
    display: flex;
    padding: 5px;
    width: 100%;
}

.searchbar #suggestions li a .miniature{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 50px;
    overflow: hidden;
}

.searchbar #suggestions li a img{
    height: 80px;
}

.searchbar #suggestions li a p:nth-child(2){
    position: absolute;
    top: 2px;
    left: 70px;
    width: 100%;
    color: #000000;
    font-size: 1.1rem;
    font-weight: 600;
}

.searchbar #suggestions li a p:nth-child(3){
    position: absolute;
    top: 22px;
    left: 70px;
    width: 100%;
    font-size: .8rem;
    color: #474747;
}

.searchbar #suggestions li a p:nth-child(4){
    position: absolute;
    top: 37px;
    left: 70px;
    width: 100%;
    font-size: .8rem;
    color: #474747;
}

.searchbar #suggestions a:hover{
    background-color: #eebe00a9;
}

.fa-ticket-simple{
    position: relative;
    color: white;
    transform: rotate(80deg);
    font-size: 1.8rem;
}

.fa-film{
    position: absolute;
    left: 9px;
    top: 8px;
    font-size: 1rem;
    transform: scaleX(80%);
}

nav #rubriques{
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: calc(23% - 3px);
    margin-top: 32px;
}

nav #rubriques li{
    background-color:transparent;
    height: 30px;
    text-align: center;
    padding: 5px 20px 5px 20px;
    font-weight: 500;
    text-transform: uppercase;
}

nav #rubriques li:hover{
    background-color: rgba(255, 255, 255, 0.274);
    cursor: pointer;
}

nav #rubriques li:nth-child(6){
    margin-left: calc(26% + 1px);
    background-color: #1ca2eb;
}
nav #rubriques li:nth-child(6) a{
    color: white;
}
nav #rubriques li:nth-child(6):hover{
    background-color: #0e8bce;
    cursor: pointer;
}

main{
    background-color: #ffffff;
    width: 1024px;
    height: 100vw;
}

.contenu{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.contenu p{
    width: 100%;
}

h2{
    width: 100%;
}

.table a{
    height: 30px;
    text-align: center;
    border-radius: 5px;
    transition: .5s;
    padding: 10px;
}

.table td:nth-child(1){
    border-radius: 5px;
}

.table{
    width: 100%;
    border-spacing: 0px 5px;
}

.table td{
    height: 50px;
    padding: 10px;
    background-color: #ececec;
}

.table th:nth-child(1){
    border-radius: 10px 0 0 0;
}
.table th:nth-child(2){
    border-radius:  0 10px 0 0;
}

.table td:nth-child(2){
    text-align: center;
}
/* --------------------------------------LIST FILM------------------------------------------ */

#listFilms{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}

#listFilms .card{
    position: relative;
    display:inline-flex;
    flex-wrap: wrap;
    height: 19rem;
    width: 14rem;
    overflow: hidden;
    background-color: black;
    box-shadow:
    0.6px 0.6px 0.8px rgba(0, 0, 0, 0.006),
    1.3px 1.3px 2px rgba(0, 0, 0, 0.008),
    2.5px 2.5px 3.8px rgba(0, 0, 0, 0.01),
    4.5px 4.5px 6.7px rgba(0, 0, 0, 0.012),
    8.4px 8.4px 12.5px rgba(0, 0, 0, 0.014),
    20px 20px 30px rgba(0, 0, 0, 0.02);
}

#listFilms .card .affiche{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#listFilms .card img{
    position: absolute;
    width: 100%;
    height: 100%;
}

#listFilms .card .infos{
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    backdrop-filter: blur(5px);
    background-image: linear-gradient(
        20deg,
        rgba(59, 59, 59, 0.3) 0%,
        rgba(64, 64, 64, 0.3) 13%,
        rgba(71, 71, 71, 0.3) 25%,
        rgba(79, 79, 79, 0.3) 37%,
        rgba(87, 87, 87, 0.3) 50%,
        rgba(94, 94, 94, 0.3) 63%,
        rgba(102, 102, 102, 0.3) 75%,
        rgba(110, 110, 110, 0.3) 87%,
        rgba(117, 117, 117, 0.3) 100%);
}

#listFilms .card .infos p{
    width: 100%;
    text-align: center;
}

#listFilms .card .infos p:nth-child(1){
font-size: 1    rem;
font-weight: 500;
text-transform: uppercase;
}

#listFilms .card .overlay{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    transition: .2s;
    
}

#listFilms .card .overlay i{
    color:#fecb0000;
    font-size: 1.5rem;
    transition: .2s;
}

#listFilms .card:hover .overlay{
    background-image: linear-gradient(
  45deg,
  rgba(255, 255, 255, 0.5) 0%,
  rgba(224, 224, 224, 0.5) 8%,
  rgba(186, 186, 186, 0.514) 15%,
  rgba(140, 140, 140, 0.507) 23%,
  rgba(71, 71, 71, 0.507) 31%,
  rgba(99, 99, 99, 0.5) 38%,
  rgba(158, 158, 158, 0.507) 46%,
  rgba(199, 199, 199, 0.5) 54%,
  rgba(235, 235, 235, 0.507) 62%,
  rgba(245, 245, 245, 0.493) 69%,
  rgba(212, 212, 212, 0.5) 77%,
  rgba(173, 173, 173, 0.5) 85%,
  rgba(122, 122, 122, 0.5) 92%,
  rgba(0, 0, 0, 0.5) 100%
);
    backdrop-filter: blur(5px);
}

#listFilms .card:hover i{
    color: #fecc00;
}




h3{
    width: 100%;
}


/* --------------------------------------LIST REASLISATEURS------------------------------------------ */

#listRealisateurs{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}

#listRealisateurs .card{
    position: relative;
    display:inline-flex;
    flex-wrap: wrap;
    height: 19rem;
    width: 14rem;
    overflow: hidden;
    background-color: black;
    box-shadow:
    0.6px 0.6px 0.8px rgba(0, 0, 0, 0.006),
    1.3px 1.3px 2px rgba(0, 0, 0, 0.008),
    2.5px 2.5px 3.8px rgba(0, 0, 0, 0.01),
    4.5px 4.5px 6.7px rgba(0, 0, 0, 0.012),
    8.4px 8.4px 12.5px rgba(0, 0, 0, 0.014),
    20px 20px 30px rgba(0, 0, 0, 0.02);
}

#listRealisateurs .card .affiche{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#listRealisateurs .card img{
    position: absolute;
    width: 100%;
}

#listRealisateurs .card .infos{
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    backdrop-filter: blur(5px);
    background-image: linear-gradient(
        20deg,
        rgba(59, 59, 59, 0.1) 0%,
        rgba(64, 64, 64, 0.1) 13%,
        rgba(71, 71, 71, 0.1) 25%,
        rgba(79, 79, 79, 0.1) 37%,
        rgba(87, 87, 87, 0.1) 50%,
        rgba(94, 94, 94, 0.1) 63%,
        rgba(102, 102, 102, 0.1) 75%,
        rgba(110, 110, 110, 0.1) 87%,
        rgba(117, 117, 117, 0.1) 100%);
}

#listRealisateurs .card .infos p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

#listRealisateurs .card .infos p:nth-child(1){
font-size: 1.2rem;
font-weight: 400;
text-transform: uppercase;
}

#listRealisateurs .card .overlay{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    transition: .2s;
    
}

#listRealisateurs .card .overlay i{
    color:#fecb0000;
    font-size: 1.5rem;
    transition: .2s;
}

#listRealisateurs .card:hover .overlay{
    background-color: #262626ab;
    backdrop-filter: blur(5px);
}

#listRealisateurs .card:hover i{
    color: #fecc00;
}

/* --------------------------------------LIST ACTEURS------------------------------------------ */

#listActeurs{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}

#listActeurs .card{
    position: relative;
    display:inline-flex;
    flex-wrap: wrap;
    height: 19rem;
    width: 14rem;
    overflow: hidden;
    background-color: black;
    box-shadow:
    0.6px 0.6px 0.8px rgba(0, 0, 0, 0.006),
    1.3px 1.3px 2px rgba(0, 0, 0, 0.008),
    2.5px 2.5px 3.8px rgba(0, 0, 0, 0.01),
    4.5px 4.5px 6.7px rgba(0, 0, 0, 0.012),
    8.4px 8.4px 12.5px rgba(0, 0, 0, 0.014),
    20px 20px 30px rgba(0, 0, 0, 0.02);
}

#listActeurs .card .affiche{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#listActeurs .card img{
    position: absolute;
    width: 100%;
}

#listActeurs .card .infos{
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    backdrop-filter: blur(5px);
    background-image: linear-gradient(
        20deg,
        rgba(59, 59, 59, 0.3) 0%,
        rgba(64, 64, 64, 0.3) 13%,
        rgba(71, 71, 71, 0.3) 25%,
        rgba(79, 79, 79, 0.3) 37%,
        rgba(87, 87, 87, 0.3) 50%,
        rgba(94, 94, 94, 0.3) 63%,
        rgba(102, 102, 102, 0.3) 75%,
        rgba(110, 110, 110, 0.3) 87%,
        rgba(117, 117, 117, 0.3) 100%);
}

#listActeurs .card .infos p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

#listActeurs .card .infos p:nth-child(1){
font-size: 1.2rem;
font-weight: 400;
text-transform: uppercase;
}

#listActeurs .card .overlay{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    transition: .2s;
    
}

#listActeurs .card .overlay i{
    color:#fecb0000;
    font-size: 1.5rem;
    transition: .2s;
}

#listActeurs .card:hover .overlay{
    background-color: #262626ab;
    backdrop-filter: blur(5px);
}

#listActeurs .card:hover i{
    color: #fecc00;
}

/* --------------------------------------LIST GENRES------------------------------------------ */

#listGenres{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

#listGenres a{
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    border-radius: 5px;
    /* margin-top: 10px; */
    background-color: #ececec;
    transition: .2s;
}

#listGenres a:hover{
    background-color: #fecc00;
}

/* --------------------------------------LIST ROLES------------------------------------------ */

#listRoles{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

#listRoles a{
    width: 14.9rem;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    border-radius: 5px;
    /* margin-top: 10px; */
    background-color: #ececec;
    transition: .2s;
}

#listRoles a:hover{
    background-color: #fecc00;
}


/* --------------------------------------DETAIL FILM------------------------------------------ */

#detailFilm{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#detailFilm .card{
    width: 50%;
    padding-right: 10px;
}

#detailFilm .affiche{
    margin-top: 20px;
    display: flex;
    width: 100%;
}

#detailFilm img{
    width: 100%;
    /* height: 400px; */
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

#detailFilm .titre{
    width: 100%;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    color: #333333;
}

#detailFilm .infos{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    background-image: linear-gradient(
        20deg,
        hsl(0deg 0% 23%) 0%,
        hsl(344deg 0% 25%) 13%,
        hsl(344deg 0% 28%) 25%,
        hsl(344deg 0% 31%) 37%,
        hsl(344deg 0% 34%) 50%,
        hsl(344deg 0% 37%) 63%,
        hsl(344deg 0% 40%) 75%,
        hsl(344deg 0% 43%) 87%,
        hsl(0deg 0% 46%) 100%);
    color: #f2f2f2;
}

#detailFilm .infos .casting{
    width: 90%;
}

#detailFilm .infos .casting p:nth-child(1){
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 1.2rem;
    font-weight: 600;
}

.fa-star{
    color: #cccccc;
}

.full {
    color: #fecc00;
}

.half {
    background: -webkit-linear-gradient(0deg,#fecc00 50%, #cccccc 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#note{
    margin-left: 5px;
}

#detailFilm .infos a{
    color: #fecc00;
}

#detailFilm .infos a:hover{
    color: #eebe00;
}

#detailFilm .casting a{
    color: #fff;
}

#detailFilm .casting a:hover{
    color: #eebe00;
}

#detailFilm .synopsis{
    width: 50%;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #ececec;
    text-align: justify;
    height: fit-content;

}

#detailFilm .btnLike{
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6px;   
    padding: 0 5px;
    width: fit-content;
    height: 40px;
    background-color: #eebe00;
    border-radius: 10px;
    transition: .2s;
    color: #474747;
}

#detailFilm .btnLike:hover{
    background-color: #262626;
    cursor: pointer;
}

#detailFilm .btnLike:hover .fa-thumbs-up {
    color: #eebe00;
}

#detailFilm .btnLike:hover {
    color: #eebe00;
}

#detailFilm .btnLike .fa-thumbs-up{
    margin-right: 5px;
    font-size: 1.3rem;
    color: #474747;
    transition: .2s;
}
/* --------------------------------------DETAILS REALISATEUR------------------------------------------ */
#detailRealisateur{
    background-color: #f2f2f2;
    width: 100%;
    border-radius: 5px;
    padding: 20px;
}

#detailRealisateur p:nth-child(1){
    color:#474747;
    font-size: 2rem;
    font-weight: 600;
}

#detailRealisateur p:nth-child(3){
    margin-top: 20px;
    font-weight: 500;
}

#detailRealisateur a{
    color: #333333;
}

#detailRealisateur a:hover{
    color: #eebe00;
}


/* --------------------------------------DETAILS ACTEUR------------------------------------------ */
#detailActeur{
    background-color: #f2f2f2;
    width: 100%;
    border-radius: 5px;
    padding: 20px;
}

#detailActeur p:nth-child(1){
    color:#474747;
    font-size: 2rem;
    font-weight: 600;
}

#detailActeur p:nth-child(3){
    margin-top: 20px;
    font-weight: 500;
}

#detailActeur a{
    color: #333333;
}

#detailActeur a:hover{
    color: #eebe00;
}
/* --------------------------------------DETAILS GENRE------------------------------------------ */
#detailGenre{
    background-color: #f2f2f2;
    width: 100%;
    border-radius: 5px;
    padding: 20px;
}

#detailGenre p:nth-child(1){
    color:#474747;
    font-size: 2rem;
    font-weight: 600;
}

#detailGenre a{
    color: #333333;
}

#detailGenre a:hover{
    color: #eebe00;
}
/* --------------------------------------DETAILS ROLE------------------------------------------ */
#detailRole{
    background-color: #f2f2f2;
    width: 100%;
    border-radius: 5px;
    padding: 20px;
}

#detailRole p:nth-child(1){
    color:#474747;
    font-size: 2rem;
    font-weight: 600;
}

#detailRole p:nth-child(2){
    margin-top: 10px;    
}

#detailRole p:nth-child(5){
    margin-top: 20px;
    font-weight: 500;
}

#detailRole a{
    color: #333333;
}

#detailRole a:hover{
    color: #eebe00;
}
/* --------------------------------------ADMIN------------------------------------------ */

@keyframes animate{
    0% {
        transform: translateY(0px);        
    }
    5% {
        transform: translateY(30px);        
    }
    90%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(-30px);
    }
}

.message{
    position: absolute;
    left: 0;
    top: 75px;
    width: 100vw;
    height: 30px;
    background-color: #2ed373;
    color: white;
    text-align: center;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 500;
    animation: animate 4s;
}

.erreur{
    position: absolute;
    left: 0;
    top: 75px;
    width: 100vw;
    height: 30px;
    background-color: #d32e2e;
    color: white;
    text-align: center;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 500;
    animation: animate 4s;
}

.show{
    transform: translateY(30px);
}

#admin input{
    border-radius: 3px;
    height: 25px;
    border: none;
}

#admin select{
    border-radius: 3px;
    border: none;

}

#admin textarea{
    border-radius: 3px;
    border: none;
    resize: none;
}

#admin textarea:focus, input:focus, select:focus{
    outline-color:#eebe00;
}
.adminForm{
    justify-content: start;
    position: relative;
    width: 984px;
    padding: 10px;
    margin-top: 20px;
    background-color:#ececec;
    border-radius: 5px;
    box-shadow:
    0.6px 0.6px 0.8px rgba(0, 0, 0, 0.006),
    1.3px 1.3px 2px rgba(0, 0, 0, 0.008),
    2.5px 2.5px 3.8px rgba(0, 0, 0, 0.01),
    4.5px 4.5px 6.7px rgba(0, 0, 0, 0.012),
    8.4px 8.4px 12.5px rgba(0, 0, 0, 0.014),
    20px 20px 30px rgba(0, 0, 0, 0.02)
    ;
}

.doubleForm{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.doubleForm .adminForm:nth-child(n){
    width: 482px;
}
   .synopsis{
        width: 100%;
        height: 150px;
   }

   .synopsis textarea{
        width: 100%;
        height: 100%;
   }

   .row{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
   }

   .adminForm .row{
        margin-top: 20px;
   }

   .singleForm .adminForm:nth-child(1) .row:nth-child(3){
        margin-top: 50px;
   }

   .btnAjouter{
        display: flex;
        justify-content: center;
   }

   .btnAjouter input{
        width: 200px;
        height: 30px;
        margin-top: 20px;
        background-color: #fecc00;
        border-radius: 5px;
        border: none;
        box-shadow:
        0.6px 0.6px 0.8px rgba(0, 0, 0, 0.006),
        1.3px 1.3px 2px rgba(0, 0, 0, 0.008),
        2.5px 2.5px 3.8px rgba(0, 0, 0, 0.01),
        4.5px 4.5px 6.7px rgba(0, 0, 0, 0.012),
        8.4px 8.4px 12.5px rgba(0, 0, 0, 0.014),
        20px 20px 30px rgba(0, 0, 0, 0.02);
        transition: .2s;
   }
    .doubleForm:nth-child(3) .adminForm:nth-child(1) .btnAjouter input{
        margin-top: 148px;
   }

   .btnAjouter input:hover{
        background-color: #eebe00;
        cursor: pointer;
   }

   


