@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
}

body{
    background-color:#f2f2f2;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

a{
    color: black;
}


nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fecc00;
    padding: 10px;
    width: 100vw;
    height: 80px;
    box-shadow:
    0.6px 0.6px 0.8px rgba(0, 0, 0, 0.006),
    1.3px 1.3px 2px rgba(0, 0, 0, 0.008),
    2.5px 2.5px 3.8px rgba(0, 0, 0, 0.01),
    4.5px 4.5px 6.7px rgba(0, 0, 0, 0.012),
    8.4px 8.4px 12.5px rgba(0, 0, 0, 0.014),
    20px 20px 30px rgba(0, 0, 0, 0.02)
  ;
}

nav h1{
    position: relative;
    width: 100%;
    margin-left: calc(20% - 5px);
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: 800;
}

.fa-ticket-simple{
    position: relative;
    color: white;
    transform: rotate(80deg);
    font-size: 1.8rem;
}

.fa-film{
    position: absolute;
    left: 9px;
    top: 8px;
    font-size: 1rem;
    transform: scaleX(80%);
}

nav ul{
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: calc(20% - 6px);
    margin-top: 7px;
}

nav ul li{
    background-color:transparent;
    height: 30px;
    text-align: center;
    /* border-radius: 5px; */
    padding: 5px 20px 5px 20px;

    /* transition: .5s; */
    font-weight: 500;
    text-transform: uppercase;
}

nav ul li:hover{
    background-color: rgba(255, 255, 255, 0.274);
    cursor: pointer;
}

nav ul li:nth-child(6){
    margin-left: calc(33% - 3px);
    background-color: #1ca2eb;
}
nav ul li:nth-child(6) a{
    color: white;
}
nav ul li:nth-child(6):hover{
    background-color: #0e8bce;
    cursor: pointer;
}

main{
    background-color: #ffffff;
    width: 60%;
    height: 100vw;
}


.contenu{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
h2{
    margin-top: 10px;
    margin-left: 20px;
    width: 100%;
}

.contenu p{
    width: 100%;
    margin-left: 20px;
}

.table{
    width: 80%;
    margin-top: 30px;
    border-spacing: 0px 5px;
}

.table td{
    padding-left: 10px;
    height: 50px;
    background-color: #ececec;
}

.table td:nth-child(1){
    border-radius: 5px 0 0 5px;
}

.table td:nth-child(2){
    border-radius: 0 5px 5px 0;
}

.table th:nth-child(1){
    border-radius: 10px 0 0 0;
}
.table th:nth-child(2){
    border-radius:  0 10px 0 0;
}

.table td:nth-child(2){
    text-align: center;
}

.table a{
    height: 30px;
    text-align: center;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    transition: .5s;
}

.table a:hover{
    background-color: #fecc00;
}

.detail{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px;
}

h3{
    margin-top: 20px;
    width: 100%;
}

.adminForm{
    margin: 20px;
    padding: 20px;
    width: 50%;
    background-color:#ececec;
    border-radius: 5px;
}

